{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class= "section">
      <a href="{{ url_for('display_customer') }}">Home</a>
    </div>
    <h2>Add Customer to Our Database</h2>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="divider"></div>
      <div class="section">
        <!--add input fields-->
        <h4>Customer Info</h3>
        <p>
          First Name: <br>
          {{form.first_name(size=120)}} <br>
        </p>
        <p>
          Last Name: <br>
          {{form.last_name(size=120)}} <br>
        </p>
        <p>
          Company Name: <br>
          {{form.company(size=120)}} <br>
        </p>        
        <p>
          Customer email: <br>
          {{form.email(size=120)}} <br>
        </p>
        <p>
          Phone Number: <br>
          {{form.phone(size=120)}} <br>
        </p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h4>Mailing Address</h3>
        <p>
          Street Address: <br>
          {{form.street_address(size=120)}} <br>
        </p>
        <p>
          City: <br>
          {{form.city(size=120)}} <br>
        </p>
        <p>
          State: <br>
          {{form.state(size=120)}} <br>
        </p>
        <p>
          Zipcode: <br>
          {{form.zip_code(size=120)}} <br>
        </p>
        <p>
          Country: <br>
          {{form.country(size=120)}} <br>
        </p>        
      </div>
      <p><input type="submit" value="Create Customer"></p>
    </form>
  </div>
</div>
{% endblock %}
